@model CategoryCreateVM

@{
    ViewData["Title"] = "Create";

    }

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create">
        <div class="form-group">
            <label>Category</label>
            <input asp-for="Name" type="text" class="form-control" maxlength="50" placeholder="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>