@model BlogCreateVM


@{
    ViewData["Title"] = "Create";

}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create">
        <div class="form-group">
            <label>Blog</label>
            <input asp-for="Title" type="text" class="form-control" maxlength="50" placeholder="Blog title">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>