
<div class="container">
    <h1 class="text-center">Slider Detail</h1>
    <div class="image">
        <img src="~/img/@Model.Image" style="width: 600px; height = 400px" />

    </div>
    <a asp-action="Index" class="btn btn-primary">Back</a>

</div>

